/* variables */
$orange-color: #fd7519;
@import "utilities/topSection";
@import "utilities/logoSection";
@import "utilities/workWithUs";
@import "utilities/footerSection";

/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* logo div */

/* Work With Us */

/* footer */
